		{% extends "iip_search_templates/base.html" %} {% block SearchForm %} {% autoescape off %}
        <form action="../results/" method="post">
            {% csrf_token %}
			<table class="search_box">
			    <tr class="trcenter">
					<td><strong>Search by keywords:</strong></td>
                </tr>
				<tr class="trcenter" style="border-bottom: 1px solid #476757">
					<td>
						<div style="float: left; width: 200px; text-align: left">
							{{ form.text.errors }}
							<label for="text">
								<strong>
									Text/translation:
								</strong>
							</label>
							</div>
							<div style="float: left; text-align: left;">
							{{ form.text }}
							</div>
							</td>
							<td>
							<div class="instructions">
						<p>Enter here any English, Latin, Greek, Hebrew or Aramaic string to search our records of original-language transcriptions and English translations. Use Unicode to search in Greek, Hebrew, or Aramaic. Accent marks are not necessary to search Greek. This tool searches whole words only; you might want to try multiple versions (e.g. declensions) of a word.
</p></div></td>
                    </tr>
                    <tr style="border-bottom: 1px solid #476757">
                    <td>
						<div style="float: left; width: 200px; text-align: left">
							{{ form.metadata.errors }}
							<label for="metadata">
								<strong>
									Description/Place/ID:
								</strong>
							</label>
							</div>
							<div style="float: left; width: 200px; text-align: left">
							{{ form.metadata }}
							</div>
							</td>
							<td>
							<div class="instructions">
							<p>
                                This field searches all metadata -- information about the text and context of an inscription not accounted for in other search fields, such as the specific location of an artifact and scholarly comments on its inscription. Searching "synagogue" will bring up any inscription documented to have been found in a synagogue (but not those explicitly mentioning a synagogue; for that use the Text/Translation search); searching "daughter" will bring up any inscription whose content is thought to refer to a daughter as discussed in its scholarly publication (in other words, information which would appear as a "Note" on our results page). This field also searches by inscription ID (such as "kede0002").
                                </p></div></td>
                    </tr>
                    <tr>
                    <td>
						<div style="float: left; width: 200px; text-align: left;">
							{{ form.figure.errors }}
							<label for="figure">
								<strong>
									Figures:
								</strong>
							</label>
							</div>
							<div style="float: left; width: 200px; text-align: left">
							{{ form.figure }}
							</div>
                            </td>
							<td>
							<div class="instructions">
							<p>Search any whole-word string in our database of figures that accompany inscribed texts. (Examples: cross, bird, frame, woman, etc.)
</p></div></td>

				</tr>
				</table>
				<table class="search_box">
				<tr class="border_top">
					<td class="left_search_col">
					    <div style="width: 100%">
					    <h3>
                            Place:
                        </h3>
                        <div style="padding-left: 10px;">
                            {{ form.place }}
						</div>
						<div style="float: left">
                        <h3>
                            Date of inscription:
                        </h3>
                        <p class="indent">
                            <table class="dateForm"><tr><td style="text-align: right;">From {{ form.notBefore }}</td><td>{{ form.afterDateEra}}</td></tr>
                                    <tr><td style="text-align: right;">To {{ form.notAfter }}</td><td>{{ form.beforeDateEra}}</td></tr></table>
                        </p>
                        <h3>
                            Type of inscription:
                        </h3>
                        <p class="indent">
                            {{ form.type.errors}} {{ form.type }}
                        </p>
                        <h3>
                            Physical type:
                        </h3>
                        <p class="indent">
                            {{ form.physical_type.errors}} {{ form.physical_type }}
                        </p>
                        </div>
                        <div style="clear: none"></div>
					</td>
					<td class="right_search_col">
						<h3>
							Language:
						</h3>
						<p>
							{{ form.language.errors}} {{ form.language }}
						</p>
						<h3>
							Religion:
						</h3>
						<p>
							{{ form.religion.errors}} {{ form.religion }}
						</p>
						{% if session_authz_info.authorized %}
  						<hr/>
  						<h3>
  							Display Status:
  						</h3>
  						<p>
  							{{ form.display_statuses.errors}} {{ form.display_status }}
  						</p>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td colspan="3" class="border_top">
						<center>
							<input type="reset" value="Reset" class="button">
							</input>
							&nbsp; &nbsp;
							<input type="submit" value="Search" class="button">
							</input>
						</center>
					</td>
				</tr>
			</table>
		</form>
		{% endautoescape %}
	<div id="search_tips">
	<h2>Search tips</h2>
	<p>
You can select multiple values in a single field; these search linked as "OR"s (i.e., Greek OR Latin, Caesarea OR Ben Shemen). Between fields, multiple selections are linked by "AND," i.e., Greek AND Jewish AND in the Galilee; epitaph AND pagan. To de-select, highlight and press the Apple key (for Mac) or Ctrl (for PC).

While this site allows for typical, but powerful, scholarly searches -- e.g., "all Christian inscriptions written in Latin from Jerusalem that might date from the fifth century" -- it also allows for inventive and quirky searches that  reconfigure these inscriptions to open new windows into ancient society, culture and religion. Explore.
</p>

	</div> {% endblock %}
