{% extends "iip_search_templates/base.html" %}

{% load markdown_deux_tags %}

{% block head_title %}{{ title_header }}{% endblock %}

{% block page_css %}
<style type="text/css">
    #html_content {
        line-height: 1.4em;
        text-align: left;
    }
    #html_content hr {
        margin-top: 3em;
    }
    #html_content img {
        float: right;
        border: 1px black;
        margin: 0px 0px 15px 20px;
    }
    #html_content ul {
      list-style: circle;
    }
    #static_title {
      font-size: 1.6em;
      font-weight: bold;
      margin-top: 1.5em;
      margin-bottom: 1em;
      color: #476757;
    }
</style>
{% endblock %}

{% block content %}

<div id="html_content">
<div id="static_title">{{ title }}</div>
{{ html_content|markdown }}
</div>

<div id="paginated_results">

<div id="leftblock">
{% autoescape off %}
    <div id="page_list">
    {% for pg in pages.page_range %}
        <a href="/iip/search/" {%ifequal pg resultsPage%}style="font-size: 1.3em"{%endifequal%}>{{pg}}</a>&nbsp;
    {% endfor %}
    </div>

<table id="search_results">

{% for inscription in iipResult.object_list %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} short_result" id="{{inscription.inscription_id}}">
	    <td class="openImg"></td>
		<td class="resultTitle descColumn">
            <span class="short_header">{{inscription.inscription_id|upper}} - {{inscription.short_description}}</span>
        </td>
        <td class="resultTitle textColumn">
            <span class="short_header">{{inscription.transcription|truncatewords_html:25}}</span>
        </td>
        <td class="resultTitle textColumn">
            <span class="short_header">{{inscription.translation|truncatewords_html:25}}</span>
        </td>
	</tr>
	<tr class="viewinscr {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} short_result"><td class="closeImg"></td><td colspan="3"></td></tr>
{% endfor %}
</table>
</div>
{% endautoescape %}

    {% block facets %}

    {% endblock %}
</div>
<div style="clear: both"></div>
{% endblock %}
