{% extends "about/base.html" %}
{% load iipCustomFilters %}


{% block extra_css %}

    {% load staticfiles %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href='{% static "iip_search_app/css/general2.css"%}' media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href='{% static "iip_search_app/css/tei_custom_elements.css" %}'/>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
        integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
        crossorigin=""/>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />

    <style>
        ul {
            list-style-type:none;
        }
        ol li::before {
            content: counter(counter) ". ";
            position:relative;
            left:-2em;
            top:1.5em;
        }
        ol {
            list-style: none;
            counter-reset: counter;
        }
        ol li {
            counter-increment: counter;
        }
        .short_header{
            margin-bottom:1em;
        }
        .insMetadata {
            line-height: 1.5em;
        }
        .csl-entry{
            line-height: 1.5em;
        }
    </style>

{% endblock %}


{%block viewinscr%}
<script type="text/javascript">
function ImgError(source){
    source.src = "https://github.com/Brown-University-Library/iip_smr_web_project/raw/zak/iip_smr_web_app/static/resources/img/noimg.png";
    source.onerror = "";
    source.width = "150";
    return true;
  }

</script>


<div class="container story-wrapper">

  <div id="single_inscription">

    {% for i in inscription %}

    {% autoescape off %}
    <div class="resultTitle">
      <p style="clear: both"><span class="short_header">{{i.inscription_id|upper}} - {{i.short_description}}</span>
    </div>

    {% if session_authz_info.authorized %}
    <div id="action_buttons">
      <form action="{{ current_url }}" method="POST">{% csrf_token %}
        <p>( current display status: '{{ chosen_display_status }}' )</p>
        <p>New Status:</p>
        {% ifequal chosen_display_status 'to_approve' %}
        <input type="submit" name="action_button" value="Approved" /> <input type="submit" name="action_button" value="To Correct" />
        {% endifequal %}
        {% ifequal chosen_display_status 'approved' %}
        <input type="submit" name="action_button" value="To Correct" />
        {% endifequal %}
        {% ifequal chosen_display_status 'to_correct' %}
        <input type="submit" name="action_button" value="To Approve" />
        {% endifequal %}
      </form>
    </div>
    {% endif %}  {% comment %}end of '''if session_authz_info.authorized'''{% endcomment %}

    <br><br>

    <div id="details">

      <div class="insText" id="{{ i.inscription_id }}">
        {% if i.imageSource and biblioFull %}
        <h4>Images:</h4>
        {% for im in i.imageSource %}
        <a href="{{im}}" class="highslide " onclick="return hs.expand(this)">
          <img width="200" src="{{im}}" alt="Highslide JS" title="Click to enlarge">
        </a>
        {% endfor %}
        {% else %}

        <img src='{{image_url}}' onerror="ImgError(this)" style="max-width: 400px;" >
        {% endif %}
        <br><br>

        <span class="short_header"><span style="font-weight: bold;">Diplomatic:</span></span>

        <p class="diplomatic">{%if i.diplomatic%}{{i.diplomatic}}{%else%}No diplomatic{%endif%}</p>

        <span class="short_header"><span style="font-weight: bold;">Transcription:</span></span>

        <p class="transcription">{%if i.transcription%}{{i.transcription}}{%else%}No transcription{%endif%}</p>


        <span class="short_header"><span style="font-weight: bold;">Translation:</span></span>




        <p class="translation">{%if i.translation%}{{i.translation}}{%else%}No translation{%endif%}</p>
      </div>

      <div class="insMetadata">
        {% if i.image %}
        <p class="thumbnail">
          {% for thumb in i.image %}
          <a href="/django_z_media/iip_z_media/inscription_images/display_size/{{thumb}}.jpg"><img
              onerror="ImgError(this)"
              src="/django_z_media/iip_z_media/inscription_images/thumbnails/{{thumb}}_t.jpg" /></a><br />
          {% endfor %}
        </p>
        {% endif %}


        <script type="text/javascript">
          var inscription_list = ["{{i.inscription_id}}"];
        </script>

        <script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
          integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
          crossorigin=""></script>
        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
        <script type="text/javascript" src='{% static "iip_search_app/js/maplet.js" %}'></script>


        <div id="maplet{{i.inscription_id}}" style="width: 100px; height: 100px; float: right; padding: 15px;"></div>

        <p><!-- {% if i.language_display|length > 0 and i.language|length > 0 %}s{% endif %}: -->
          <span class="short_header"><span style="font-weight: bold;">Languages:</span></span>
          &nbsp;&nbsp;

          {%if i.language_display%}
          {%for l in i.language_display%}
          {{l}}
          {% if not forloop.last %},&nbsp;
          {% endif %}
          {%endfor%}
          {%elif i.language%}
          {%for l in i.language%}
          {{l}}
          {% if not forloop.last %},&nbsp;
          {% endif %}
          {%endfor%}}
          {% else %}
          Not Available
          {%endif%}
        </p>



        <p><span class="short_header"><span style="font-weight: bold;">Dimensions:</span></span>&nbsp;&nbsp;


          {%if i.dimensions%}
          {{i.dimensions}}
          {% else %}
          Not Available
          {%endif%}
        </p>


        <p><span class="short_header"><span style="font-weight: bold;">Date:</span></span>&nbsp;&nbsp;

          {%if i.notBefore%}
          {{i.notBefore|cleanDates}} to {{i.notAfter|cleanDates}}
          {% else %}
          Not Available
          {%endif%}


        </p>





        <p><span class="short_header"><span style="font-weight: bold;">Place Found:</span></span>&nbsp;&nbsp;

          {%if i.place_found%}

          {{i.place_found|placeClean}}

          {% else %}
          Not Available
          {%endif%}
        </p>






        <p>
          <span class="short_header">
            <span style="font-weight: bold;">
              Note:
            </span>
          </span>
          &nbsp;&nbsp;
          {%if i.description%}
          {{i.description}}
          {% else %}
          Not Available
          {%endif%}
        </p>


        <p><span class="short_header"><span style="font-weight: bold;">Figures:</span></span>&nbsp;&nbsp;{% if i.figure %}{%for f in i.figure%}{{f}}<br />{%endfor%}{% else %}Not Available{% endif %}</p>

        <div id="short_bib">
        <p>{%if biblDiplomatic %}<span class="short_header"><span style="font-weight: bold;">Source of
              Diplomatic:</span></span>&nbsp;&nbsp;
              <div id="dip">
              <span id="diplomatic" class="biblToRetrieve"
            bibl='{{biblDiplomatic.0}}' ntype='{{biblDiplomatic.1}}' n='{{biblDiplomatic.2}}'>{{biblDiplomatic}}</span>
            </div>
          {% else %}<span class="short_header"><span style="font-weight: bold;">Source of Diplomatic: </span></span><br /><span style="min-height:2em;">Not
          Available</span> <br />{% endif %}</p>

        <p>{%if biblTranscription %}<span class="short_header"><span style="font-weight: bold;">Source of
              Transcription:</span></span>&nbsp;&nbsp;

              <span id="transcription" class="biblToRetrieve"
            bibl='{{biblTranscription.0}}' ntype='{{biblTranscription.1}}'
            n='{{biblTranscription.2}}'>{{biblTranscription}}</span>

          {% else %}<span class="short_header"><span style="font-weight: bold;">Source of Transcription:
            </span></span><br />Not
          Available <br />{% endif %}</p>

        <p>{%if biblTranslation %}<span class="short_header"><span style="font-weight: bold;">Source of
              Translation:</span></span>&nbsp;&nbsp;<span id="translation" class="biblToRetrieve"
            bibl='{{biblTranslation.0}}' ntype='{{biblTranslation.1}}'
            n='{{biblTranslation.2}}'>{{biblTranslation}}</span>
          {% else %}<span class="short_header"><span style="font-weight: bold;">Source of Translation: </span></span><br />Not
          Available <br />{% endif %}</p>

          </div>
        <p style="{% if not biblioFull %}display: none;{% endif %}"><span class="short_header"><span
              style="font-weight: bold;">Bibliography:</span></span>&nbsp;&nbsp;
          <ol id="bibllist" class='bibllist' style="{% if not biblioFull %}display: none;{% endif %}">



            {% for bib_id, reference in z_ids.items %}

            <div class="biblToRetrieve" style="position:relative; left:-2em; padding-bottom:10px;">
              <div>

                <span style="display:inline; " class='z_id' bibl='{{bib_id}}'>{{bib_id}}</span>
                <span class='ref' style="display:inline; white-space:nowrap; position:relative;">(
                  {% for ntype, n in reference %}

                    {% if ntype == 'insc' %}
                    insc.
                    {% elif ntype == 'page' %}
                    p.
                    {% else %}
                    {{ntype}}
                    {% endif %}
                   {%if n == reference|last|last %}
                    {{n}}
                    {% else %}
                     {{n}};
                    {% endif %}
                    {%endfor%}
                )
              </span>

              </div>

            </div>
            {%endfor%}



          </ol>
        </p>
        <!--           {% if biblioFull %}
            <p><span class="short_header"><span style="font-weight: bold;">Bibliography: </span></span>Not Available</p>
          {% endif %} -->
      </div>  <!-- end of div class="insMetadata" -->

      <div style="clear:both"></div>

      {%if not biblioFull %}<div id="permalink"><a href="../viewinscr/{{i.inscription_id}}/">Link to this inscription</a></div>{%endif%}

      <div id="viewXml"><a href="{{ view_xml_url }}">View XML</a></div>

    </div>  <!-- end div id="details" -->
    {% endautoescape %}


    {%if biblioFull %}
    <script type="text/javascript" src='{% static "iip_search_app/js/zotero.js" %}'></script>
    <script type="text/javascript">
      //do what you need here
      let promises = [];
      let done = false;
      const delay = ms => new Promise(res => setTimeout(res, ms));

      async function add_cita() {
        $(".z_id").each(function(i, item) {
          add_citation($(item).attr("bibl"))
        });
        await delay(5000);
        add_cita_bibl();
    }
    $("[bibl=ms]").html("Supplied by Michael Satlow.");
    add_cita();
    // do_add_cita_bibl();
    </script>
    <!-- <script></script> -->
    <!-- <script type="text/javascript">
      $(document).ready(render_bibliography);
    </script> -->
    {%endif%}



    <br><br>

    <div>
      <h3 class="widget-title">Share on Social Media</h3>
      <ul class="social-nav">

        <li><a
            href="http://twitter.com/share?text={{i.inscription_id|upper}} - {{i.short_description}}.%0AURL: &url={{current_url}}&hashtags=IIP"
            target="_blank" title="Twitter" rel="nofollow" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a
            href="http://www.facebook.com/sharer/sharer.php?u={{ current_url }}&quote={{i.inscription_id|upper}} - {{i.short_description}}."
            target="_blank" title="Facebook" rel="nofollow" class="facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a
            href="https://plus.google.com/share?url={{ current_url }}&prefilltext={{i.inscription_id|upper}} - {{i.short_description}}."
            target="_blank" title="Google plus" rel="nofollow" class="google"><i class="fa fa-google-plus"></i></a></li>
        <li><a
            href="https://www.linkedin.com/shareArticle?mini=true&url={{current_url}}&title={{i.inscription_id|upper}} - {{i.short_description}}&summary={{ current_url}}"
            target="_blank" title="Linkedin" rel="nofollow" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
        <li><a
            href="https://pinterest.com/pin/create/button/?url={{ current_url }}&description={{i.inscription_id|upper}} - {{i.short_description}}"
            target="_blank" title="Pinterest" rel="nofollow" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
      </ul>
    </div>


    {%endfor%}  {% comment %} end of '''for i in inscription''' {% endcomment %}
    <br><br><br><br>
    <!-- <div class="comment-box">
      <h2>Write a Comment</h2>
      <form>
          <div class="form-group">
              <label for="usr">Name:</label>
              <input type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
              <label for="pwd">Email address:</label>
              <input type="password" class="form-control" id="pwd">
          </div>
          <div class="form-group">
              <label for="comment">Comment:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
              <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div> -->



  </div> <!-- end div id="single_inscription" -->
</div>

{%endblock%}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  // $("#transcription > div > div > i:nth-child(1)").css("background","blue");
  $( ".translation" ).css("background","blue");

</script>
<script>
function isEven(value) {
    if (value%2 == 0)
    return true;
else
    return false;
}
$(window).load(function(){

   $(function() {
  var $textNodes = $("#diplomatic > div > div").contents().filter(function() {
    return this.nodeType === Node.TEXT_NODE;
  });

  var counter = 0;
  $textNodes.each(function() {
    counter = counter + 1;
    var $this = $(this);
    if(counter > 1){
    if(this.nodeType == 3){
           $this.remove(); // Remove it
          } else if(this.nodeType == 1){ // If its an element node
            $this.removeText(); //Recurse
          }
        } else {
        var regex = /(?<=([0-9]{4})).*/;
          var str = $this.text().replace(regex, "");
          $this.replaceWith(str + ").");
        }

  });

});


   $(function() {
  var $textNodes = $("#transcription > div > div").contents().filter(function() {
    return this.nodeType === Node.TEXT_NODE;
  });

  var counter = 0;
  $textNodes.each(function() {
    counter = counter + 1;
    var $this = $(this);
    if(counter > 1){
    if(this.nodeType == 3){
           $this.remove(); // Remove it
          } else if(this.nodeType == 1){ // If its an element node
            $this.removeText(); //Recurse
          }
        } else {
          var regex = /(?<=([0-9]{4})).*/;
          var str = $this.text().replace(regex, "");
          $this.replaceWith(str + ").");
        }

  });

});

   $(function() {
  var $textNodes = $("#translation > div > div").contents().filter(function() {
    return this.nodeType === Node.TEXT_NODE;
  });

  var counter = 0;
  $textNodes.each(function() {
    counter = counter + 1;
    var $this = $(this);
    if(counter > 1){
    if(this.nodeType == 3){
           $this.remove(); // Remove it
          } else if(this.nodeType == 1){ // If its an element node
            $this.removeText(); //Recurse
          }
        } else {
          var regex = /(?<=([0-9]{4})).*/;
          var str = $this.text().replace(regex, "");
          $this.replaceWith(str + ").");
        }

  });

});

     $("#diplomatic > div > div > i").css("display","none");
     $("#diplomatic > div").css("text-indent","-1.3em");
     //$("#short_bib > p:nth-child(1)").css("margin-bottom","0");
    //$("#short_bib > p > span > div > div > i:nth-child(1)").next().css("display","none");
     $("#short_bib > p > span > div > div > i:nth-child(1)").css("display","none");
 });
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='{% static "iip_search_app/js/jquery.livequery.js" %}' type="text/javascript"></script>
<script src='{% static "iip_search_app/js/CETEI.js" %}'type="text/javascript"></script>
<script type="text/javascript" src='{% static "iip_search_app/highslide/highslide-with-gallery.packed.js" %}'></script>
<script type="text/javascript">

  hs.graphicsDir = '{% static "iip_search_app/highslide/graphics/" %}'
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3203647-22', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript" src='{% static "iip_search_app/js/result_display.js" %}'></script>



{% endblock %}
