@charset "UTF-8";

/* color scheme
719281	teal
476757	dark teal
d9e3d0	lighter teal

9e909f	purple
7d627f	dark purple
6c3370	bright purple

eeeddb	beige
b1af89	olive
f5f3dd	sand (background)
*/


/*-----------SAM------------*/

.comment-box{
	border: 1px solid #333333;
	padding-left: 30px;
	padding-bottom: 30px;
	margin-right: 30px;
	padding-right: 30px;
	margin-top: 30px;
}

.form-control{
	border: 1px solid #333333;
}

.basic{
	margin: auto 0;
	width: 100%;
}

.advanced{
	display: none;
}

.advanced_shown{
	display: block;
	width:100%;
}

table tr{
	color: #333333;
}

table{
	border-collapse: separate;
}

.ui-state-default, .ui-widget-content .ui-state-default{
	background-color: #333333;
	height: 22px;
}

.row{
	margin-left: 0;
}

/* Share Social Media */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

/*----- Social Links -----*/
.social-nav {
    padding: 0;
    list-style: none;
    margin: -10px 0 0 -10px;
}
.social-nav li {
    float: left;
    margin: 10px 0 0 10px;
    list-style: none;
}
.social-nav a {
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
    background: #000;
    position: relative;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    opacity: 0.8;
}
.social-nav a {
    overflow: hidden;
    font-size: 26px;
    border-radius: 4px;
}
.social-nav a:hover {
    background: #fff;
    text-shadow: 0px 0px #d4d4d4, 1px 1px #d4d4d4, 2px 2px #d4d4d4, 3px 3px #d4d4d4, 4px 4px #d4d4d4, 5px 5px #d4d4d4, 6px 6px #d4d4d4, 7px 7px #d4d4d4, 8px 8px #d4d4d4, 9px 9px #d4d4d4, 10px 10px #d4d4d4, 11px 11px #d4d4d4, 12px 12px #d4d4d4, 13px 13px #d4d4d4, 14px 14px #d4d4d4, 15px 15px #d4d4d4, 16px 16px #d4d4d4, 17px 17px #d4d4d4, 18px 18px #d4d4d4, 19px 19px #d4d4d4, 20px 20px #d4d4d4, 21px 21px #d4d4d4, 22px 22px #d4d4d4, 23px 23px #d4d4d4, 24px 24px #d4d4d4, 25px 25px #d4d4d4, 26px 26px #d4d4d4, 27px 27px #d4d4d4, 28px 28px #d4d4d4, 29px 29px #d4d4d4, 30px 30px #d4d4d4;
}
.social-nav .twitter {
    background: #00ACED;
    text-shadow: 0px 0px #0087ba, 1px 1px #0087ba, 2px 2px #0087ba, 3px 3px #0087ba, 4px 4px #0087ba, 5px 5px #0087ba, 6px 6px #0087ba, 7px 7px #0087ba, 8px 8px #0087ba, 9px 9px #0087ba, 10px 10px #0087ba, 11px 11px #0087ba, 12px 12px #0087ba, 13px 13px #0087ba, 14px 14px #0087ba, 15px 15px #0087ba, 16px 16px #0087ba, 17px 17px #0087ba, 18px 18px #0087ba, 19px 19px #0087ba, 20px 20px #0087ba, 21px 21px #0087ba, 22px 22px #0087ba, 23px 23px #0087ba, 24px 24px #0087ba, 25px 25px #0087ba, 26px 26px #0087ba, 27px 27px #0087ba, 28px 28px #0087ba, 29px 29px #0087ba, 30px 30px #0087ba;
}
.social-nav .twitter:hover {
    color: #00ACED;
}
.social-nav .facebook {
    background: #3B579D;
    text-shadow: 0px 0px #2d4278, 1px 1px #2d4278, 2px 2px #2d4278, 3px 3px #2d4278, 4px 4px #2d4278, 5px 5px #2d4278, 6px 6px #2d4278, 7px 7px #2d4278, 8px 8px #2d4278, 9px 9px #2d4278, 10px 10px #2d4278, 11px 11px #2d4278, 12px 12px #2d4278, 13px 13px #2d4278, 14px 14px #2d4278, 15px 15px #2d4278, 16px 16px #2d4278, 17px 17px #2d4278, 18px 18px #2d4278, 19px 19px #2d4278, 20px 20px #2d4278, 21px 21px #2d4278, 22px 22px #2d4278, 23px 23px #2d4278, 24px 24px #2d4278, 25px 25px #2d4278, 26px 26px #2d4278, 27px 27px #2d4278, 28px 28px #2d4278, 29px 29px #2d4278, 30px 30px #2d4278;
}
.social-nav .facebook:hover {
    color: #3B579D;
}
.social-nav .google {
    background: #DD4A3A;
    text-shadow: 0px 0px #c23122, 1px 1px #c23122, 2px 2px #c23122, 3px 3px #c23122, 4px 4px #c23122, 5px 5px #c23122, 6px 6px #c23122, 7px 7px #c23122, 8px 8px #c23122, 9px 9px #c23122, 10px 10px #c23122, 11px 11px #c23122, 12px 12px #c23122, 13px 13px #c23122, 14px 14px #c23122, 15px 15px #c23122, 16px 16px #c23122, 17px 17px #c23122, 18px 18px #c23122, 19px 19px #c23122, 20px 20px #c23122, 21px 21px #c23122, 22px 22px #c23122, 23px 23px #c23122, 24px 24px #c23122, 25px 25px #c23122, 26px 26px #c23122, 27px 27px #c23122, 28px 28px #c23122, 29px 29px #c23122, 30px 30px #c23122;
}
.social-nav .google:hover {
    color: #DD4A3A;
}
.social-nav .linkedin {
    background: #007BB6;
    text-shadow: 0px 0px #005983, 1px 1px #005983, 2px 2px #005983, 3px 3px #005983, 4px 4px #005983, 5px 5px #005983, 6px 6px #005983, 7px 7px #005983, 8px 8px #005983, 9px 9px #005983, 10px 10px #005983, 11px 11px #005983, 12px 12px #005983, 13px 13px #005983, 14px 14px #005983, 15px 15px #005983, 16px 16px #005983, 17px 17px #005983, 18px 18px #005983, 19px 19px #005983, 20px 20px #005983, 21px 21px #005983, 22px 22px #005983, 23px 23px #005983, 24px 24px #005983, 25px 25px #005983, 26px 26px #005983, 27px 27px #005983, 28px 28px #005983, 29px 29px #005983, 30px 30px #005983;
}
.social-nav .linkedin:hover {
    color: #007BB6;
}
.social-nav .pinterest {
    background: #CB2026;
    text-shadow: 0px 0px #9f191e, 1px 1px #9f191e, 2px 2px #9f191e, 3px 3px #9f191e, 4px 4px #9f191e, 5px 5px #9f191e, 6px 6px #9f191e, 7px 7px #9f191e, 8px 8px #9f191e, 9px 9px #9f191e, 10px 10px #9f191e, 11px 11px #9f191e, 12px 12px #9f191e, 13px 13px #9f191e, 14px 14px #9f191e, 15px 15px #9f191e, 16px 16px #9f191e, 17px 17px #9f191e, 18px 18px #9f191e, 19px 19px #9f191e, 20px 20px #9f191e, 21px 21px #9f191e, 22px 22px #9f191e, 23px 23px #9f191e, 24px 24px #9f191e, 25px 25px #9f191e, 26px 26px #9f191e, 27px 27px #9f191e, 28px 28px #9f191e, 29px 29px #9f191e, 30px 30px #9f191e;
}
.social-nav .pinterest:hover {
    color: #CB2026;
}



/*------------------------------------*/

html,body {
	margin:0px;
	font-family:Helvetica,Arial,Sans-serif;
	background-image:url('../images/left_bg_darker.jpg');
	background-repeat:repeat-y;
	background-color:#f5f3dd;
	overflow-y: auto;
	}

ul {
    list-style: none;
    }

a:link {
	text-decoration:none;
	color:#476757;
	}
a:visited {
	text-decoration:underline;
	color:#476757;
	}
a:hover {
	text-decoration:underline;
	color:#b1af89;
	}

.h1 {
	font-size:1.6em;
	font-weight:bold;
	margin:0px;
	}

.h1ital {
	font-size:1.6em;
	font-weight:bold;
	font-style:italic;
	margin:0px;
	}

h2 {
	font-size:1.3em;
	font-weight:bold;
	margin-top:30px;
	color:#476757;
	}

h3 {
	font-size:1em;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:8px;
	}


img {
	border:0px;
	}

#top {
	background-image:url('../images/top_bg_darker.jpg');
	background-repeat:repeat-x;
	margin:0px;
	height:256px;
	}

/* ---------- Left column ---------- */

#leftcol {
	width:170px;
	margin:0px;
	position:absolute;
	top:170px;
	left:0px;
	}

#leftcol_links {
	text-align:right;
	padding-right:30px;
	font-weight:bold;
	font-size:0.9em;
	}

a.leftcol_link:link {
	text-transform:uppercase;
	text-decoration:none;
	color:#719281;
	}
a.leftcol_link:visited {
	text-transform:uppercase;
	text-decoration:none;
	color:#719281;
	}
a.leftcol_link:hover {
	text-transform:uppercase;
	text-decoration:none;
	color:#b1af89;
	}

a.leftcol_search:link {
	text-transform:uppercase;
	text-decoration:none;
	font-size:1.2em;
	color:#9e909f;
	}
a.leftcol_search:visited {
	text-transform:uppercase;
	text-decoration:none;
	font-size:1.2em;
	color:#7d627f;
	}
a.leftcol_search:hover {
	text-transform:uppercase;
	text-decoration:none;
	font-size:1.2em;
	color:#b1af89;
	}

/* ---------- General content ---------- */

#content {
	position:relative;
	top:-120px;
	left:190px;
	width:78%;
	font-size:0.8em;
	line-height:1.2em;
	text-align:justify;
	}

#logos {
	text-align:right;
	position:relative;
	top:40px;
	}

#admin {
	margin-top: 90px;
	font-size: 0.8em;
	color: #719281;
}

#admin_link:link {
	text-decoration:none;
}

*/
/* ---------- Search page ---------- */



table.search_box, table#search_results {
	border-collapse:collapse;
	width:98%;
	min-width:550px;
	max-width:1200px;
	margin-top:10px;
	border:0px;
	text-align:left;
}


table.search_box {
    background-color:#d9e3d0;
    
    color: #333333;
    border: 1px solid #333333;
}

table#search_results th {
    font-size: 1.2em;
}

.search_box td{
    vertical-align: top;
}

td {
	padding:10px;
	border:0px;
	/* vertical-align: top; */
	}

td p{
	padding:0px;
	border:0px;
	margin-top: 4px;
	margin-bottom: 4px;
	/* vertical-align: top; */
	}

tr {
	border:0px;
	}

.left_search_col {
	border-right:10px solid #f5f3dd;
	width:48%;
	}

.trcenter {
	vertical-align:center;
	}

#right_search_col {
	width:48%;
	}

.border_top {
	/*border-top:10px solid #f5f3dd;*/
	vertical-align:top;
	}

.indent {
	margin-left:15px;
	}

input {
	border:1px solid #999;
	padding:4px;
	font-size:1.4em;
	font-family:helvetica,arial,sans-serif;
	}

select {
	border:1px solid #999;
	padding:4px;
	font-family:helvetica,arial,sans-serif;
	}

option {
	padding-bottom:3px;
	}

.button {
	font-size:1em;
	text-transform:uppercase;
	font-weight:bold;
	}

#search_tips {
	margin-top:20px;
	max-width:600px;
	}

/* ---------- Search results page ---------- */

#paginated_results {
	float:left;
	border-collapse:collapse;
	width:100%;
	max-width:1400px;
	min-width:450px;
	border:0px;
	text-align:left;
	margin-top: 100px;
	margin-left: 40px;
	margin-bottom: 50px;
	}

.search_results_header, #page_list {
    font-weight: bold;
    padding-top: 10px;
}

#leftblock  {
    float: left;
    width: 75%;
}


tr.odd {
	background-color:#e5f0e8;
	}

tr.even {
	background-color:#fff;
	}

thead {
	text-transform:uppercase;
	font-size:0.9em;
	}

.col1 {
	width: 25%;
	padding:7px;
	font-weight:bold;
	}
.col2 {
	width: 35%;
	padding:7px;
	}
.col3 {
	width: 35%;
	padding:7px;
	}
.col1Open {
	width: 95%;
	padding:7px;
	font-weight:bold;
	}

span.descr_type {
	font-weight:normal;
	}

span.keyword {
	font-weight:bold;
	color:#6c3370;
	}

p.preview {
	text-transform:italic;
	}

div#narrow_results {
	float:left;
	width:15%;
	margin-top:50px;
	margin-left:15px;
	border:0px;
	text-align:left;
	background-color:#eeeddb;
	padding:15px;
	}

ul.narrow_results_list {
    list-style:none;
	margin-left:-20px;
	line-height:1.5em;
	}

ul.narrow_results_list ul{
    padding-left: 15px;
    display: none;
}

.facetHeaderText {
    font-weight: bold;
    padding-left: 18px;
    line-height: 1.2em
    text-align: middle;
}

.facetMenuClosed {
    background-image: url('../images/right_arrow.gif');
    background-repeat: no-repeat;
}

.facetMenuOpened {
    background-image: url('../images/down_arrow.gif');
    background-repeat: no-repeat;
}


#id_notBefore, #id_notAfter {
    width: 5.0em;
}

.dateForm { width: 180px;}

.dateForm td {
    vertical-align: top;
    padding: 0;
}

.dateForm tr td ul {
list-style: none;
margin-bottom: 5px;
margin-top: 0px;
padding-left: 10px;
position: absolute;
float: left;
 }

 .dateForm tr td ul li{
display: inline;
 }

 #single_inscription {
	float:left;
	width:100%;
	height: 100%;
    margin: 0;
	text-align:left;
	line-height: 1.0em;
	font-size: 1.1em;
	background-color: white;
	padding-top: 130px;
	padding-left: 40px;
	padding-bottom: 100px;

	}

#single_inscription tei-div {
    display: block;
    margin-left: 3em;
}

#single_inscription tei-p {   
    counter-reset: lines;
    counter-increment: lines;
}

tei-lb {
    counter-increment: lines 1;
}

#single_inscription tei-div:hover tei-lb::after, #single_inscription tei-div:hover tei-p::before {
    display: block;
    float: left;
    opacity: 0.5;
    content: counter(lines);
    margin-left: -3em;
}

#single_inscription .translation tei-div:hover tei-p::before {
    content: "";
}

#single_inscription tei-p tei-lb:nth-of-type(5n-1)::after {
    display: block;
    float: left;
    content: counter(lines);
    margin-left: -3em;
}

#single_inscription tei-div[type=textpart]::before {
    display: block;
    margin-left: -1em;
    margin-top: 4px;
    font-style: italic;
    opacity: 0.7;
    content: "Part " attr(n);
}

.resultTitle {
	font-weight:bold;
	font-size: 1.1em;
	color:#6c3370;
	vertical-align: top;
}

td.transcription > tei-div, td.translation > tei-div {
    display: block;
    line-height: 1.1em;
    max-height: calc(11em - 2px);
    overflow-y: hidden;
    padding: 3px;
}

tr.short_result td.descColumn {
    width: 26%;
}

td.textColumn {
    width: 32%;
}

tr.viewinscr {
    display:none;
}


div#details{
    padding: 5px;
}

.insText, .insMetadata{
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

.insText p, .insMetadata p{
padding-left: 10px;
padding-right: 5px;
padding-top: 5px;
}

.insText p {
    width: 60%
}

.short_header {
    color:#5E4F5F;
    
}

.xml_url {
    color: gray;
    font-size: 0.8em;
}

ul.bibliography {
    padding-left: 20px;
    list-style-type: disc;
}

td.openImg {
    background-image: url('../images/down_arrow.png');
    background-repeat: no-repeat;
    /*background-position:center; */
    background-position: 5px 15px;
    width: auto;
}

td.loadingImg {
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    /*background-position:center; */
    background-position: 5px 15px;
    width: auto;
}

td.closeImg {
    background-image: url('../images/up_arrow.png');
    background-repeat: no-repeat;
    background-position: 5px 15px;
     /*background-position:center; */
    width: auto;
}

.instructions {
    float: left:
    width: 400px;
    text-align: left;
    /*margin-left: 3em;*/
    }

    /* ---------- Bibliography ---------- */

table#bibliography {
	border-collapse:collapse;
	background-color:#d9e3d0;
	width:100%;
	margin-top:0px;
	border:0px;
	text-align:left;
	}

td.bibliography {
	padding:0 0 0 3px;
	border:1px #f5f3dd solid;
	margin:0px;
	/* vertical-align: top; */
	}

tr.bibliography {
	padding:0px;
	border:0px;
	margin:0px;
	}

.thumbnail {
    float: right;
    clear: right;
    width: 110px;
    margin: 10px;
}

.thumbnail img {
    max-width: 110px;
}

.rtl    {
    display: block;
    text-align: right;
}

#permalink {
    margin-top: 18px;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
}
