.carousel-caption {
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-shadow: none;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}

.carousel {
    position: relative;
}

.controllers {
    position: absolute;
    top: 40%;
    width: 100%;
}

.carousel-indicators-div{
    display: block;
    height: 100px;
    bottom: 0;
}

button{
    position: absolute;
    bottom: 0;
}

.carousel-caption{
    text-align: left;
    height: 200px;
}

.carousel-indicators li{
    background-color: #999;
    background-color: rgba(70,70,70,.25);
}
.carousel-indicators .active{
    background-color: #333333;
}


.carousel-control.left, 
.carousel-control.right {
    background-image: none;
}

.img-responsive{
    height: 200px;
    display: block;
    margin: 0 auto;
}