<a href="/" class="w-72 my-2 mr-6 flex-shrink-0 no-underline">
  <img class="h-auto w-full " src="/static/mapsearch/img/floor_circle.jpg"/>

  <div class="mt-4">
    <h3 class="font-sans text-xl w-full pb-0 m-0 text-black text-thin">Example related item</h3>
    <span class="text-base w-full text-gray-600 opacity-50">Lorem ipsum dolor sit amet</span>
  </div>
</a>
