{% extends 'stories/base_stories.html' %}

{% load iipCustomFilters %}

{% block story_head %}
{% load staticfiles %}
<a href="{% url 'stories_url' %}">Return to Gallery</a><br>
<br>

<h1>{{title}}<h1>
<h4>{{author}}<br>{{story_date}}</h4>
<h2 style="color: black;">{{short_summary}}</h2>

{% endblock%}

{% block story_content %}
{{content}}
{% endblock %}

{% block relevant_inscription %}
{% for item in num_relevantInscriptions %}
<hr class="style-one">

<table id="search_results">

<tr class="short_result resultTitle descColumn" id="{{inscription_id|indexList:forloop.counter0}}">
	<td class="resultTitle" colspan='4' style="padding-left: 0px;">
        <span class="short_header resultTitle">
            {{inscription_id|indexList:forloop.counter0|upper}}
        </span>
    </td>
</tr>


<div class="row">
	<td class="col-md-2" style="padding-left: 0px;">
	    <br>
	    <img src='{% static "iip_search_app/images/placeholder2.png" %}' style= "width: 150px; height: 120px;">
	    <br><a href="../viewinscr/{{inscription_id|indexList:forloop.counter0}}" target="_blank">View this inscription</a>

	    <br><a class="xml_url" href="{% url 'xml_url' inscription_id|indexList:forloop.counter0 %}">[View in XML]</a>
	</td>


	<td class="textColumn transcription col-md-3">
	    <span class="short_header"><span style="font-weight: bold;">Transcription:</span> <br>
	    {{transcription|indexList:forloop.counter0|safe|truncatewords_html:25}}</span>
	</td>
	<td class="textColumn translation col-md-3">
	    <span class="short_header"><span style="font-weight: bold;">Translation:</span> <br>{{translation|indexList:forloop.counter0|safe|truncatewords_html:25}}</span>
	</td>
</div>

<div class="row">
	<td class="col-md-3">
	    <span style="font-weight: bold;">Languages:</span> 
	    <!-- {% for l in languages%}
	    {{l}}
	    {% endfor %} -->

	    {% if languages|indexList:forloop.counter0|length > 1 %}
	    	{% for l in languages|indexList:forloop.counter0 %}
	    		{% if forloop.last %}
	    			{{l}}
	    		{% else %}
	    			{{l}},
	    		{% endif %}
	    	{% endfor %}
	    {% else %}
	    	{% for l in languages|indexList:forloop.counter0 %}
	    		{{l}}
	    	{% endfor %}
	    {% endif %}
	    <br>

	    <span style="font-weight: bold;">Date:</span> 

	    {% if date_start|indexList:forloop.counter0 >= 0 %}
	    	{{date_start|indexList:forloop.counter0}}CE
	    {% else %}
	    	{{date_start|indexList:forloop.counter0}}BCE
	    {% endif %}

	    to

	    {% if date_end|indexList:forloop.counter0 >= 0 %}
	    	{{date_end|indexList:forloop.counter0}}CE
	    {% else %}
	    	{{date_end|indexList:forloop.counter0}}BCE
	    {% endif %}
	    <br>
	    <span style="font-weight: bold;">Dimension:</span>  
	    {{dimension|indexList:forloop.counter0}}<br>
	</td>

	<td class="col-md-2">
	    <div id="maplet{{inscription_id|indexList:forloop.counter0}}" style="width:100px; height:100px;"></div>
	</td>
</div>


</table>

<!-- <div class="row">
	<div class="col-md-3">
		<img src="{{ STATIC_URL }}iip_search_app/images/{{inscription_id|indexList:forloop.counter0}}.jpg" style= "width: 250px; height: 150px;">
		<br>
		<a style=" margin-left: 60px; font-size: 15px;" href="../viewinscr/{{inscription_id.0}}" target="_blank">View this inscription</a>
	</div>
	<tei-div class="transcription col-md-3">
		<strong style="font-size:16px;">Transcription: </strong><br> {{transcription|indexList:forloop.counter0|safe}}
	</tei-div>
	<div class="col-md-3">
		<strong style="font-size:16px;">Translation: </strong><br> {{translation|indexList:forloop.counter0|safe}}
	</div>
	<div class="col-md-3">
		<strong style="font-size:16px;">Date: </strong><br> {{date|indexList:forloop.counter0}}<br><br>
		<strong style="font-size:16px;">Place Found: </strong><br> {{place_found|indexList:forloop.counter0}}<br><br>
		<strong style="font-size:16px;">Language(s): </strong><br> {{languages|indexList:forloop.counter0}}
		<br><br>
		<div id="maplet{{inscription_id|indexList:forloop.counter0}}", style="width: 100px; height: 100px; padding: 15px;"></div>
	</div>
</div> -->
<script type="text/javascript">
	var inscription_list = ["{{inscription_id|indexList:forloop.counter0}}"];
	</script>

	<script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
	integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
	crossorigin=""></script>
	<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
	<script type="text/javascript" src='{% static "iip_search_app/js/maplet.js" %}'></script>
{% endfor %}

<hr class="style-one">

<div>
      <h4 class="widget-title">Share on Social Media</h4>
      <ul class="social-nav">
          <li><a href="http://twitter.com/share?text={{short_summary}}%0AURL:&url={{current_url}}&hashtags=IIP" target="_blank" title="Twitter" rel="nofollow" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="http://www.facebook.com/sharer/sharer.php?u={{current_url}}&quote={{short_summary}}" target="_blank" title="Facebook" rel="nofollow" class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://plus.google.com/share?url={{current_url }}&prefilltext={{short_summary}}." target="_blank" title="Google plus" rel="nofollow" class="google"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{current_url}}&title={{short_summary}}&summary={{current_url}}" target="_blank" title="Linkedin" rel="nofollow" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://pinterest.com/pin/create/button/?url={{current_url}}&description={{short_summary}}" target="_blank" title="Pinterest" rel="nofollow" class="pinterest"><i class="fa fa-pinterest"></i></a></li>        
      </ul>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
	
$('iframe').load( function() {
    $('iframe').contents().find("head")
      .append($("<style type='text/css'>  body{paddint-top:0px;}  </style>"));
});


</script>
{% endblock %}


