{% extends 'about/base.html' %}

{% block extra_css %}
    {% load staticfiles %}
    <link href='{% static 'stories/css/stories.css' %}' rel="stylesheet">

    <style>

hr.style-one {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
</style>
{% endblock %}

{% block body %}
<section class="service-icon-style ptb-100" style="padding-bottom: 0">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/theodotos_thumbnail.jpg" %}' />
                <div class="img_description" style="visibility: visible;">
                    <p style='padding-left: 10px;'>Talking with Theodotus<br>
                        <span style='font-size: 14px; font-weight: normal; font-family: serif;'></span>
                    </p>
                    <a style="display: block;" class="btn btn-primary button_description story-button" data-toggle="modal" data-story="theodotos" href="{% url 'theodotos_url' %}">Read Full Story</a>
                </div> 
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/waypoint_thumbnail.jpg" %}' />
                <div class="img_description" style="visibility: visible;">
                    <p style='padding-left: 10px;'>The Synagogue as a Waypoint for Travellers</br>
                        <span style='font-size: 14px; font-weight: normal;'></span>
                    </p>
                    <a style="display: block;" class="btn btn-primary button_description story-button" data-toggle="modal" data-story="synagogue_waypoint" href="{% url 'synagogue_waypoint_url' %}">Read Full Story</a>
                </div> 
            </div>
            
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/heliodorus_thumbnail.png" %}'/>
                <div class="img_description" style="visibility: visible;">
                    <p style='padding-left: 10px; font-size: 16px;'>Temple Raid Sparks Revolt</br>
                        <span style='font-size: 14px; font-weight: normal;'></span>
                    </p>
                    <a style="display: block;" class="btn btn-primary button_description story-button" data-toggle="modal" data-story="heliodorus" href="{% url 'heliodorus_url' %}">Read Full Story</a>         
                </div>                
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/ossuaries_thumbnail.png" %}' />
                <div class="img_description" style="visibility: visible;">
                    <p style='padding-left: 10px;'>Slavery in Rome: A Badge of Honor?</br>
                        <span style='font-size: 13px; font-weight: normal;'></span>
                    </p>
                    <a style="display: block;" class="btn btn-primary button_description story-button" data-toggle="modal" data-story="ossuaries" href="{% url 'ossuaries_url' %}">Read Full Story</a>

                </div> 
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/balf0001.jpg" %}' />
                <div class="img_description">
                    <p style='padding-left: 10px;'>Epigraphy in Context: The Bar Kokhba Revolt</br>
                        <span style='font-size: 14px; font-weight: normal;'></span>
                    </p>
                    <a class="btn btn-primary button_description story-button" data-toggle="modal" data-story="kokhba" href="{% url 'kokhba_url' %}">Read Full Story</a>
                </div> 
            </div>
            
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/huld0001.jpg" %}' />
                <div class="img_description">
                    <p style='padding-left: 10px;'>Keep Out, for the Sake of All that is Holy!</br>
                        <span style='font-size: 14px; font-weight: normal;'></span>
                    </p>
                    <a class="btn btn-primary button_description story-button" data-toggle="modal" data-story="kokhba" href="{% url 'kokhba_url' %}">Read Full Story</a>
                </div> 
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/jaff0063.jpg" %}' />
                <div class="img_description">
                    <p style='padding-left: 10px;'>Making Connections: Roads in the Roman Empire</br>
                        <span style='font-size: 14px; font-weight: normal;'></span>
                    </p>
                    <a class="btn btn-primary button_description" href='#'>Read Full Story</a>
                </div> 
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/jeru0309.jpg" %}' />
                <div class="img_description">
                    <p style='padding-left: 10px;'>A Bid for Empire: The Story of a Vespasian Milestone</br>
                        <span style='font-size: 14px; font-weight: normal;'></span>
                    </p>
                    <a class="btn btn-primary button_description" href='#'>Read Full Story</a>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/caes0049.jpg" %}' />
                <div class="img_description">
                    <p style='padding-left: 10px;'>A Governor's Legacy: The Various Accounts of Pontius Pilate</br>
                        <span style='font-size: 14px; font-weight: normal;'></span>
                    </p>
                    <a class="btn btn-primary button_description" href='#'>Read Full Story</a>
                </div> 
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/jeru0310.jpg" %}' />
                <div class="img_description">
                    <p style='padding-left: 10px;'>Pilate's Predilections</br>
                        <span style='font-size: 14px; font-weight: normal;'>Flying in the time of Jesus?!</span>
                    </p>
                    <a class="btn btn-primary button_description" href='#'>Read Full Story</a>
                </div> 
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/yotv0001.jpg" %} ' />
                <div class="img_description">
                    <p style='padding-left: 10px;'>Pilate's Predilections</br>
                        <span style='font-size: 14px; font-weight: normal;'>Flying in the time of Jesus?!</span>
                    </p>
                    <a class="btn btn-primary button_description" href='#'>Read Full Story</a>
                </div> 
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 img_wrap thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/beth0184.jpg" %}' />
                <div class="img_description">
                    <p style='padding-left: 10px;'>Pilate's Predilections</br>
                        <span style='font-size: 14px; font-weight: normal;'></span>
                    </p>
                    <a class="btn btn-primary button_description" href='#'>Read Full Story</a>
                </div> 
            </div>
        </div>
        <button type="submit" class="btn btn-primary button_description">View More</button>
        </br></br></br>



        <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-3">
                <h2>Featured Stories</h2>
            </div>
            <div class="col-md-4">
                <h2 style="text-align: center;">Intro</h2>
            </div>
        </div>

        

        

        <hr class="style-one">

        <div class="row">
            <div class="col-md-3 thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/theodotos_thumbnail.jpg"%} ' />
            </div>
            <div class="col-md-3">
                <h2>Talking with Theodotus</h2>
                <h4>by Margaret F.</h4>
                <a class="btn btn-default" href="{% url 'theodotos_url' %}">Read Full Story</a>
            </div>
            <div class="col-md-4">
                <h4>What were the functions of synagogues prior to the destruction of the Temple of Jerusalem? A dedicatory inscription provides a tantalizing glimpse into the role of the ancient synagogue in Jewish culture. 
                </h4>
            </div>
        </div>
      

        <hr class="style-one">


        <div class="row">
            <div class="col-md-3 thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/waypoint_thumbnail.jpg" %} ' />
            </div>
            <div class="col-md-3">
                <h2>The Synagogue as a Waypoint for Travellers</h2>
                <h4>by Lauren M.</h4>
                <a class="btn btn-default" href="{% url 'synagogue_waypoint_url' %}">Read Full Story</a>
            </div>
            <div class="col-md-4">
                <h4>Safety while travelling is a modern, often underappreciated, privilege. The so-called Theodotus inscription refers to a hostel for travellers inside a 1st century CE synagogue in Jerusalem.
                </h4>
            </div>
        </div>


        <hr class="style-one">
        
        <div class="row">
            <div class="col-md-3 thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/heliodorus_thumbnail.png" %}' />
            </div>
            <div class="col-md-3">
                <h2>Temple Raid Sparks Revolt</h2>
                <h4>by Lauren M.</h4>
                <a class="btn btn-default" href="{% url 'heliodorus_url' %}">Read Full Story</a>
            </div>
            <div class="col-md-4">
                <h4>A king’s command to raid the Holy Temple’s coffers incites a bloody revolt. Epigraphic fragments of this king’s correspondence with high officials prove his role in the Temple’s desecration.
                </h4>
            </div>
        </div>
                        


        <hr class="style-one">
            

        <div class="row">
            <div class="col-md-3 thumbnail_pic">
                <img class="img-responsive", src='{% static "iip_search_app/images/ossuaries_thumbnail.png"%} ' />
            </div>
            <div class="col-md-3">
                <h2>Slavery in Rome: A Badge of Honor?</h2>
                <h4>by Lauren M.</h4>
                <a class="btn btn-default" href="{% url 'ossuaries_url' %}">Read Full Story</a>
            </div>
            <div class="col-md-4">
                <h4>In what scenario might former slave status be a badge of honor? An epitaph of a middle-aged man from a prominent Jewish family near Jericho suggests that a slave’s service in Rome’s imperial palace may have conferred special honors following his manumission and return to Judea.
                </h4>
            </div>
        </div>

        <hr class="style-one">

    </div>
</section>
{% endblock %}


{% block extra_js %}

{% endblock %}
