{% extends 'about/base.html' %}


{% block extra_css %}

<link href="{{ STATIC_URL }}iip_search_app/css/general2.css" media="all" rel="stylesheet" type="text/css" />

{% endblock %}



{% block body %}

<section class="contact-form ptb-100">
    <div class="container text-center">
        <h2>Get In Touch! We welcome <i>all</i> feedback, comments, and questions.<br><br>
            
      </h2>

      <h4>Send an email to our Project Director, Professor Michael Satlow:
      michael_satlow@brown.edu</h4>
<br><br><br><br>
      <h3><font color=628d4a><i> Thank you for your interest in the Inscriptions of
      Israel/Palestine!</i></font> </h3>

	
    </div>
</section>


{% endblock %}

{% block extra_js %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    {% load staticfiles %}  
    <script src='{% static 'contact/js/contact.js' %}'></script>
    <script src='{% static 'contact/js/flexSlider/jquery.flexslider-min.js' %}'></script>
    
{% endblock %}
