{% extends 'about/base.html' %}

{% block extra_css %}
	{% load staticfiles %}
	<link href='{% static 'resources/css/resources.css' %}' rel="stylesheet">

{% endblock %}



{% block body %}
<div id="wrapper">
    <div id="page-content-wrapper">
        <section class="about-text ptb-100">
        	<div class="container">
                <div class="row">
                    <h2>Bibliography</h2>
                    <br>
                    <div><a href='https://www.zotero.org'><img id='zotero' src='{% static 'resources/img/zotero.png' %}'></a></div>
                    <br><br> 
                    <div class="col-md-6">
                        <p>The bibliography for the Inscriptions of Israel/Palestine project is stored and managed using <a href='https://www.zotero.org'>Zotero</a>. To view the whole bibliography, visit our <a href='https://www.zotero.org/iip/items/'>Zotero collection page</a>. You can search and sort through the records there using the search box in the upper-right. <br>
                        <a href='http://cds.library.brown.edu/projects/Inscriptions/bib/enter_bib.html'>Add new bibliographic entries (IIP staff only)</a></p>
                    </div>
                    <div class="col-md-6">
                        <p>Inscriptions of Israel/Palestine by <a href='index.html'>Inscriptions of Israel/Palestine</a> is licensed under a <a href='https://creativecommons.org/licenses/by-nc-nd/3.0/us/'>Creative Commons Attribution- Noncommercial-No Derivative Works 3.0 United States License.</a> <br>
                        <a href="mailto:Michael_Satlow@brown.edu">Contact project director.</a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>  

{% endblock %}
