{% extends 'about/base.html' %}

{% block extra_css %}
    {% load staticfiles %}
    <link href='{% static 'resources/css/resources.css' %}' rel="stylesheet">
    <style type="text/css">
        table, td, th {
        border: 1px solid black;
        padding-left: 10px;
        }
    </style>
{% endblock %}



{% block body %}
<div id="wrapper">
    <div id="page-content-wrapper" style="font-size: 15px;">
        <section class="about-text ptb-100">
            <div class="container">
                <div class='row'>
                    <h2>Conventional Transcription Symbols</h2>
                    <br>
                      <p>
                          The texts of the inscriptions are displayed using a modified form of what is known as the Leiden convention.  We have modified it in line with display limitations.  Note that the actual underlying text in the XML files are tagged according to the TEI/Epidoc conventions which are then translated into the typography displayed here. Below are the more popular symbols and tags used:
                      </p>
                      <br>
                      <table>
                          <tr>
                              <th>Meaning</th>
                              <th>Displayed as</th>
                              <th>TEI/Epidoc tag</th>
                          </tr>
                          <tr>
                              <td>Unclear (can see but cannot with certainty decipher)</td>
                              <td>abc</td>
                              <td>&lt;unclear&gt;abc&lt;/abc&gt;</td>
                          </tr>
                          <tr>
                              <td>Gap (number of letters missing indicated by number)</td>
                              <td>[.3]</td>
                              <td>&lt;gap reason="illegible" quantity="3" unit="character"&gt;...abc&lt;/gap&gt;</td>
                          </tr>
                          <tr>
                              <td>Text supplied by editor </td>
                              <td>[abc]</td>
                              <td>&lt;supplied reason="illegible"&gt;abc&lt;/supplied&gt;</td>
                          </tr>
                          <tr>
                              <td>Expansion of abbreviation (the abbreviation is written but the expansion is supplied by the editor)</td>
                              <td>a(bc)</td>
                              <td>&lt;expan&gt;&lt;abbr&gt;a&lt;/abbr&gt;&lt;/expan&gt;</td>
                          </tr>
                          <tr>
                              <td>Gap (extent unknown)</td>
                              <td>[.?]</td>
                              <td>&lt;gap reason="illegible" extent="unknown"/&gt;</td>
                          </tr>
                          <tr>
                              <td>Letters intentionally not on the inscription but added by the editor to make sense</td>
                              <td>a&lt;b&gt;c</td>
                              <td>a&lt;add&gt;b&lt;/add&gt;c</td>
                          </tr>
                          <tr>
                              <td>Surplus letter marked for deletion by editor</td>
                              <td>a{b}c</td>
                              <td>a&lt;surplus&gt;b&lt;/surplus&gt;</td>
                          </tr>
                          <tr>
                              <td>Editor’s note</td>
                              <td>a/*?*/bc</td>
                              <td>a&lt;note&gt;?&lt;/note&gt;bc</td>
                          </tr>
                          <tr>
                              <td>Erased on object</td>
                              <td>a[[b]]c</td>
                              <td>a&lt;del rend="erasure"&gt;b&lt;/del&gt;c</td>
                          </tr>
                    </table>
                </div>
                <br><br><br>
            </div>
        </section>
    </div>
</div>  


    


{% endblock %}
