{% extends 'about/base.html' %}

{% block extra_css %}
    {% load staticfiles %}
    <link href='{% static 'resources/css/resources.css' %}' rel="stylesheet">

{% endblock %}



{% block body %}
<div id="wrapper">
    <div id="page-content-wrapper">
        <section class="about-text ptb-100">
            <div class="container">
                <div class="row">
                    <h2>Guide to Searching</h2>
          
                    <p>The inscriptions of Israel/Palestine project is
                    made up of over 3,000 records from the
                    Israel/palestine region ranging from around 600
                    BCE to 650 CE. These inscriptions record
                    everything from royal edicts to the daily lives of
                    common people. This tutorial is designed to get
                    you started browsing for specific types of
                    records. The best way to search this database is
                    through the faceted map search. Newcomers to the
                    site usually begin with our stories page for
                    highlights from our most significant
                    inscriptions. </p><br>

                    <h4>Map Search</h4>
          
                    <p>The map search page contains an interactive map
                      and facets for easy searching. Selecting facets will
                      change the inscriptions displayed on the map. For
                      each location with inscriptions matching the
                      filtering criteria, a circular marker will
                      appear. If you click the marker, you can get a
                      pop-up with basic information about the inscriptions
                      in that location. To the right of the map, you can
                      see an overview of the inscriptions from that
                      place. Clicking on an inscription ID will provide
                      you with more detail about that specific
                      inscription. </p>
                      <p>When you select a search facet, it will filter
                      the results that appear on the map. If you have
                      chosen “select multiple” at the top of the facet
                      box, your selections will form an  “and” search. For
                      example, if you have selected “Greek” as well as
                      “Latin”, you will see all of the Greek/Latin
                      bilingual inscriptions. If the “select multiple”
                      option is turned off, selecting multiple choices
                      will result in an “or” search for that category. In
                      our example, you would see all inscriptions
                      containing either Latin or Greek. Search parameters
                      across categories (i.e. material and physical type)
                      are always “and” searches. </p>
                    <br>
                    <h4>Text Search</h4> 
                    <p>More complex searches can be undertaken from the text search
                              page. You can select the link TEXT SEARCH on the map
                              page for targeted keyword searching, although this
                              search box will not dynamically affect the
                              map. Here, you can search specific reference IDs if
                              you know them or for specific words in records’
                              transcriptions or translations. Supported languages
                              are English, Latin, Greek (using Greek polytonic
                              characters without breathings or accents), Aramaic,
                              and Hebrew. This search will return results that
                              include the exact character set you searched
                    for. </p><br>
                    <h4>Individual Inscription Entries</h4> 
                    <p>Try selecting “Judea” from the locations box and “dedicatory” from
                              the type box. This search combination produces 9
                              results displayed on the map. To retrieve a reusable
                              URL specific to this search, click “SEARCH” at the
                              bottom corner of the map. You’ll notice that 12
                              results appear; the extra inscriptions may not
                              appear on the map because of incorrect or missing
                              geographic information. Looking at the results, the
                              third entry is JERU0237, the famous “Theodotos”
                              inscription. If you click on it, you’ll get a full
                              record of the inscription as it appeared in its
                              original publication. Here, you may notice that
                              there is no diplomatic transcription. This simply
                              means that a diplomatic transcription did not appear
                    in the original print source. </p>
                    <p> Looking at the inscription itself, however, we discover that a man
                              called Theodotos was responsible for the dedication
                              of a synagogue with a suite of amenities for
                              travelling Jews. The inscription data indicate that
                              the synagogue was built sometime between the mid-1st
                              century BCE and the mid-1st century CE. Its language
                              is Greek, indicating a Jewish audience from the
                    Greco-Roman diaspora. </p>
                    <p>The inscription header at the top of the page contains general data about the inscription (such as location, region, physical type, material, etc.). You can access relevant glossary definitions for these categories by following links in the inscription header at the top of the page. This header also provides the unique IIP reference ID, in this case JERU0237. The reference ID is generally comprised of the first four letters of the location name and a four digit number corresponding to the order in which the inscriptions from a particular location were added to the database. 
                    </p>

                </div>
            </div>
        </section>
    </div>
</div>  

{% endblock %}
