{% extends "iip_search_templates/static_base.html" %}

{% load markdown_deux_tags %}


{% block extra_css %}
<style type="text/css">
    #words {
        background:red;
    }
</style>
    {% load staticfiles %}
    <link href='{% static 'about/css/about.css' %}' rel="stylesheet">
    <link href='{% static "resources/css/proxy.css" %}' rel="stylesheet">
{% endblock %}


{% block body %}


<div id="page-content-wrapper" style="font-size: 15px;">
    <section class="about-text ptb-100">
        <div class="container">
            <div class="row">
                <h2>{{ title }}</h2>
                <br/>
                {{ html_content|safe }}
                <br/>
            </div>
        </div>
    </section>
</div>

{% endblock %}
