{% block extra_css %}

<link href="{{ STATIC_URL }}iip_search_app/css/general2.css" media="all" rel="stylesheet" type="text/css" />
{% load staticfiles %}
 <link href='{% static 'wordlist/css/wordlist.css' %}' rel="stylesheet"/>

{% endblock %}
{% block body %}

    <div class="container text-center">


    <br><br><h1>LATIN</h1><br>

    <table style="width:50%" class="table table-bordered">
        <thead class="thead-light">
    	<tr>
    		<th>Normalized Form</th>
    		<th>Location</th>
    	</tr>
        </thead>
        <tbody>
    	{% for k, v in words.items %}
    		<tr>
    			<td>{{k}}</td>
    			<td>
                {% for el in v %}
                <a href="/wordlist/latinword/{{el.link_id}}" >{{el.data}}</a><br>
                {% endfor %}
                </td>
    		</tr>
    	{% endfor %}
        </tbody>
    </table>

    <br><br>

	
    </div>
    
{% endblock %}