{% block extra_css %}

{% load staticfiles %}
 <link href='{% static 'wordlist/css/wordlist.css' %}' rel="stylesheet"/>

{% endblock %}
{% block body %}

    <div class="container text-left">

    <div class=" container text-center">
    <br><br><h1>LATIN WORDLIST</h1><br>
    </div>

    <p align="center" id="atoz"> [
        {% for word in words %}
            {% ifchanged word.0.0 %} 
                {% if not forloop.first %}|{% endif %}
            <a class="alphalink">{{word.0.0}}</a>  {% endifchanged %}
        {% endfor %}
        ]
    </p>

    <div id="posfilter">
        <h5> Part of Speech Filter:</h5>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="nouncheck">
            <label class="form-check-label" for="nouncheck">
                Noun
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="verbcheck">
            <label class="form-check-label" for="verbcheck">
                Verb
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="adjcheck">
            <label class="form-check-label" for="adjcheck">
                Adbjective
            </label>
        </div>
    </div>


    <table class="table" id="latin-pos-table">
        {% for word in words %}
            <tr class="level0 pos{{word.2}}">
                <td colspan="2">
                <button type="button" class="btn btn-primary" 
                id="buttog{{forloop.counter}}" onclick="collapseToggle(this)">+</button>
                <b>{{word.0}}</b>
                </td>
            </tr>
            {% for k, v in word.1.items %}
                <tr class="level1 tog{{forloop.parentloop.counter}}">
                <td rowspan={{v|length}} class="formentry">{{k}}</td>
                {% for kwic in v %}
                    {% if not forloop.first %}
                        <tr class="level1 tog{{forloop.parentloop.parentloop.counter}}">
                    {% endif %}
                    <td class="kwic">{{kwic.0}} 
                    (<a href="/viewinscr/{{kwic.1}}">{{kwic.1}}</a>)</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>

    <br><br>

	
    </div>
    
{% endblock %}