{% extends 'about/base.html' %}


{% block extra_css %}

<link href="{{ STATIC_URL }}iip_search_app/css/general2.css" media="all" rel="stylesheet" type="text/css" />
{% load staticfiles %}
 <link href='{% static 'wordlist/css/wordlist.css' %}' rel="stylesheet"/>

 <script>
 var base_url = "{% url 'wordslist_url' %}"
 </script>

{% endblock %}



{% block body %}

    <div class="container text-center">


    <br><br><br><br><h1>{% if language %}{{language | upper}} {% endif %}WORDLIST</h1><br>

    <label for="language">Choose a language:</label>

    <select id="language" onChange="langSelect(this.value)">
        <option value="" disabled selected>Select</option>
        <option value="latin">Latin</option>
        <option value="greek">Greek</option>
        <option value="hebrew">Hebrew</option>
    </select>

    {% if language == 'latin' %}
        {% include "wordlist/latin_wordlist.html" %}
    {% elif language %}
        <div id="in-progress">
            <br>
            <h3>In Progress...</h3>
        </div>
    {% endif %}

    
    </div>

    <br><br><br>
    
{% endblock %}

{% block extra_js %}

{% load staticfiles %}  
    <script src='{% static 'wordlist/js/wordlist.js' %}'></script>

{% endblock %}
