{% extends 'about/base.html' %}
{% load staticfiles %}


{% block extra_css %}

    <link href="{{ STATIC_URL }}iip_search_app/css/general2.css" media="all" rel="stylesheet" type="text/css" />
    <link href='{% static 'wordlist/css/wordlist.css' %}' rel="stylesheet"/>

    <link href='{% static 'wordlist/css/doubletree.css' %}' rel="stylesheet"/>
    <script charset="utf-8" src='{% static "wordlist/web/doubletreejs/d3.min.js" %}' type="text/javascript"></script>
    <script charset="utf-8"  src='{% static "wordlist/web/doubletreejs/classListSubstitute.min.js" %}' type="text/javascript"></script>
    <script charset="utf-8"  src='{% static "wordlist/web/doubletreejs/DoubleTree.min.js" %}'></script>
    <script charset="utf-8"  src='{% static "wordlist/web/doubletreejs/Trie.min.js" %}' type="text/javascript"></script>
    <script charset="utf-8"  src='{% static "wordlist/web/doubletreejs/TextHash.min.js" %}' type="text/javascript"></script>
    <script charset="utf-8"  src='{% static "wordlist/web/doubletreejs/doubletree-kwic.js" %}' type="text/javascript"></script>
    <script charset="utf-8"  src='{% static "wordlist/web/doubletreejs/doubletree-kwic-extras.js" %}' type="text/javascript"></script>
    <script charset="utf-8"  src='{% static "wordlist/web/doubletreejs/doubletree-tagged-setup.js" %}' type="text/javascript"></script>

    <!--
    {% comment %}
     <script>
     var latin_old = "{% url 'wordslist_url_old' %}"
     var latin_new = "{% url 'wordslist_url_new' %}"
     </script>
    {% endcomment %}
    -->

{% endblock extra_css %}


{% block body %}

    <div class="container text-center">

        <br><br><br><br>
        <h1>WORDLIST:</h1>
        <br>

        <!-- {# <form action="{# {% url 'wordlist_birkinlanguage_url' language='' %} #}" method="get"> #} -->
        <form action="" method="get">
            <label for="language">Choose a language:</label>

            <!--
        	<select id="language" onChange="langSelect(this.value)">
        		<option value="" disabled selected>Select</option>
          		<option value="Latinnew">Latin</option>
          		<option value="Greek">Greek</option>
          		<option value="Hebrew">Hebrew</option>
        	</select>
            -->

            <button type="submit" name="language" value="latin">Latin</button>
            <button type="submit">Greek</button>
            <button type="submit">Hebrew</button>
        </form>

    	<div id="latin-table" display="none">
    	</div>

    	<div id="in-progress">
    		<br>
    		<h3>In Progress...</h3>
    	</div>

    </div>

    <br><br><br>

{% endblock %}


{% block extra_js %}

    <!-- {# <script src='{% static 'wordlist/js/wordlist.js' %}'></script> #} -->

{% endblock extra_js %}
