{% extends 'about/base.html' %}
{% load staticfiles %}


{% block extra_css %}
{% endblock extra_css %}


{% block body %}

    <div class="container text-center">

        <br/><br/><br/>

        <h1>Some heading</h1>

        <br/>

        <div class="the_include">
            {% if language == 'latin' %}
                {% include "wordlist/wordlist_birkin_include_example_includeA.html" %}
            {% else %}
                {% include "wordlist/wordlist_birkin_include_example_includeB.html" %}
            {% endif %}
        </div>

        <br/>

        <p>closing thoughts about foo: {{ foo }}</p>

        <br/>

    </div>

{% endblock body %}


{% block extra_js %}
{% endblock extra_js %}
