# envoy==0.0.2
# importlib==1.0.3
# mysolr==0.8.3
# pysolr==3.6.0
# solrpy==0.9.6
django-crispy-forms==1.6.1
django-markdown-deux==1.0.5
django-pagedown==0.1.3
Django==2.2.24
git+https://github.com/birkin/shellvars-py.git
git+https://github.com/agpar/solrpy.git
PyMySQL==0.8.0
requests==2.21.0
