.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

#caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#div-modal{
    text-align: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.img-responsive {
   /* IE6-9 */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
    height: 250px;
}

.thumbnail_pic{
  max-width: 100%;
/*  text-align: center;*/
  padding-left: 15px;
  padding-right: 15px;


/*  border-bottom: 1px solid black;*/

}


.thumbnail_pic img{
  height: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}



.img_description{
    bottom: 16px;
    width: 265px;
    max-height: 60%;
    visibility: hidden;
    opacity: 0.7;
    position: absolute;
    color: black;
    font-size: 17px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.img_wrap:hover .img-responsive {
    opacity: 0.8

}

.img_wrap:hover .img_description {
    visibility: visible;
}

.img_wrap:hover .button_description {
    display: block;
}

.btn-primary{
    border-color: #333333;
    display: block;
    margin: 0 auto;
    background-color: #333333;
    font-size: 10px;
}

.btn-primary:hover{
    opacity: 0.8;
    background-color: #333333;
    border-color: #333333;
}

.button_description{
    display: none;
    width: 150px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 8px;
}

.star-rating{
    width: 265px;
    display: block;
    margin: 0 auto;
}

.star-rating s,
.star-rating-rtl s {
    color: black;
    font-size: 30px;
    cursor: default;
    text-decoration: none;
    line-height: 10px;
    margin-left: 7px;
}

.star-rating s.rated:before {
    content: "\2605";
}
.star-rating s:before {
    content: "\2606";
}


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.menu-align{
  font-family: 'Roboto', sans-serif;
}

