/*.story-wrapper {
	padding-top: 160px;
	padding-bottom: 80px;
	padding-left: 90px;
	padding-right: 90px;
}

#title {
	font-size: 4em;
	line-height: 1.3em;
	font-weight: 600;
}

#author {
	font-weight: 300;
}

#inscription-metadata {
	margin-bottom: 0px;
}

blockquote > p {
	font-size: 0.7em !important;;
}

.modal-info p {
	font-size: 1.2em;
	line-height: 1.7em;
	text-align: justify;
}

*/