.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  text-decoration: none;
}

.btn {
  margin-bottom: 5px;
}

.btn-menu {
  color: #000;
}

.inset {
  padding: 20px;
}

.navbar-header>a>img {
  width: 150px;
}

ul.nav.navbar-nav {
  margin-right: 150px;
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 0px;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }
}
