{% load static %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
<link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css">

<link href='{% static 'iip_search_app/css/general2.css' %}' rel="stylesheet">
<link href='{% static 'iip_search_app/css/tei_custom_elements.css' %}' rel="stylesheet">
<link href='{% static 'mapsearch/css/awesome-bootstrap-checkbox.css' %}' rel="stylesheet">
<link href='{% static 'mapsearch/css/mapsearch.css' %}' rel="stylesheet">
<style type="text/css">
	hr.style-one {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
	}

	@media (max-width: 991px) {
		#map-inscriptions-box {
			height: 170px;
		}
	}

	@media (max-width: 448px) {
		#map-inscriptions-box {
			display: none;
		}
	}

	#advanced_search {
		width: 1192px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
</style>

<div class="overflow-hidden">
	<div class="row">
		<div id="mapid" class="fixed top-0 bottom-0 right-0 left-0 w-full h-full"></div>

		<div class="fixed bottom-8 right-8 bg-theme-700 text-white rounded-2xl p-6">
			<div class="row">
				<label class="text-white uppercase font-sans text-xs font-extrabold tracking-widest">Select Overlays</label>
				<div class="overlay-checkbox">
					<label class="text-white"><input id="king_herod_boundaries_37BCE" type="checkbox" value="">King Herod Boundaries 37BCE</label>
				</div>
				<div class="overlay-checkbox">
					<label class="text-white"><input id="roman_provinces" type="checkbox" value="">Roman Empire Provinces 200CE</label>
				</div>
				<div class="overlay-checkbox">
					<label class="text-white"><input id="roman_roads" type="checkbox" value="">Roman Roads</label>
				</div>
				<div class="overlay-checkbox">
					<label class="text-white"><input id="byzantine_provinces_400CE" type="checkbox" value="">Byzantine Provinces 400CE</label>
				</div>
				<div class="overlay-checkbox">
					<label class="text-white"><input id="iip_regions" type="checkbox" value="">IIP Regions</label>
				</div>

				<!--
					<div class="overlay-checkbox">
						<label><input id="overlay_satelite" type="checkbox" value="">Satellite View</label>
					</div>
                     -->
			</div>

			<!--div class="row btn-row">
				<button id="points_layer" type="button" class="btn btn-primary btn-sm">
					Hide Points
				</button>
			</div>
			<div class="row" id="map-inscriptions-box">
				<ul>
					Click points on the map to view a full list of inscriptions in that region.
				</ul>
			</div-->
		</div>
	</div>
	<!-- div class="row">
		<div id="slider-range">
			<div id="custom-handle-low" class="ui-slider-handle custom-handle"></div>
			<div id="custom-handle-high" class="ui-slider-handle custom-handle"></div>
		</div>
	</div -->
</div>
