.leaflet-control-attribution.leaflet-control {
	font-size:6px;
}

#mapid{
	float: left; 
	height:500px; 
	width:75%; 
	margin: 0 auto; 
	margin-top: 100px;
}

.overlay-checkbox label {
	font-weight: normal;
}

.overlay-checkbox input[type=checkbox]{
	margin-right: 10px;
}

#map-inscriptions-box {
	margin-top: 20px;
	width: 94%;
	height: 53%;
	overflow: auto;
	padding: 10px;
	border: black solid 1px;
	margin-right: 0;
	overflow-x: hidden;
}

.inscription {
	border-bottom: 1px solid grey;
}

.inscription label {
	margin-bottom: 0px;
}

#points_layer {
	width: 110px;
	border-radius: 5px;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 0.9em;
}

.facet-count {
	padding: 5px;
	color: #666;
	text-align: left;
}

#slider-range{
	width: 72%;
	height: 10px;
	margin-top: 10px;
}

.ui-slider-handle.custom-handle {
	top: -10px;
	width: auto;
	width: 50px;
    height: 25px;
    border: 1px solid #000;
    font-size: 0.85em;
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    text-align: center;
    color: #eee;
}

.search_box.basic {
	padding: 10px;
}

.search_box.basic td {
	padding: 5px;
}

.select-multiple {
	display: block;
	font-size: 0.7em;
	line-height: 0.60em;
	margin-bottom: 3px;
}

.select-multiple > p {
	display: inline;
	float: left;
	padding-top: 1px;
	margin: 0px;
	padding-right: 3px;
/*	font-size: 1.2em;*/
}

.select-multiple-toggle {
	display: inline;
}

.select-multiple-toggle > li {
	float: left;
	padding-right: 5px;
}

.select-multiple-toggle label {
	margin-bottom: 2px;
}

input.select-multiple-toggle[type="radio"] {
	margin: 0px;
}

.filter-container {
	overflow: auto; 
	height: 200px; 
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	padding-left: 10px;
	overflow-x: hidden;
}

.filter-container label {
	font-weight: normal;
}

.filter-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width:11px;
}

/*.filter-container::-webkit-scrollbar:vertical {
    width: 11px;
}*/

/*.filter-container::-webkit-scrollbar:horizontal {
    height: 11px;
}*/

.filter-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #eee;
    /*#d9e3d0; */
    /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.filter-container::-webkit-scrollbar-track { 
    background-color: #eee; 
    border-radius: 8px; 
}

#place-filter {
	width: 180px;

}

#place-filter label {
	width: 120px;
}

#type-filter {
	width: 150px;
}

#type-filter label {
	width: 90px;
}

#physical_type-filter {
	width: 150px;
}

#physical_type-filter label {
	width: 90px;
}

#language-filter, #religion-filter {
	width: 145px;
}

#language-filter label, #religion-filter label {
	width: 85px;
}

#material-filter {
	width: 150px;
	overflow-x: auto !important;
}

#material-filter label {
	width: 90px;
}

.tooltip {
	text-align: center;
}