.leaflet-control-attribution.leaflet-control {
	font-size:6px;
}

.multiselect-container.dropdown-menu {
	width: auto;
}

.multiselect.dropdown-toggle.btn.btn-default {
	padding: 10px;
}

.multiselect-container.dropdown-menu a {
	display: inline-block;
	width: auto;
}

.multiselect-container.dropdown-menu label {
	max-width: 150px;
	width: auto;
	/*overflow-wrap: break-word;
  	word-wrap: break-word;*/
  	white-space: pre-wrap;
 }

.multiselect-selected-text {
	font-size: 0.7em;
	font-weight: bold;
}



.facet-count {
/*	display: inline-block;*/
	/*float: right;*/
/*	padding-right: 10px;*/
}