{% extends 'about/base.html' %}

{% block extra_css %}
	{% load staticfiles %}
	<link href='{% static 'about/css/about.css' %}' rel="stylesheet">

{% endblock %}

{% block body %}

<div id="page-content-wrapper" style="font-size: 15px;">
    <section class="about-text ptb-100">
        <div class="container">
            <div class="row">
                <h2>APIs</h2>
                <br>
                <p>An API is an application programming interface. It allows users to query a database in the form of a URL. The URL request retrieves structured data which can be processed, analyzed or displayed according to local needs. For a general introduction to APIs, see the documentation provided by the Digital Public Library of America.</p>
                <p>
                    The IIP API sends queries to the Solr index powering the IIP search interface. Queries will mostly rely on IIP keywords and metadata and will return IIP metadata and IIP IDs. The Solr documentation provides details on the query syntax.
                </p>
                <p>
                    The inscription files themselves can be accessed in their XML form by appending the IIP ID to the URL https://library.brown.edu/iip/view_xml/ . For example, the following URL will link to the XML file of inscription AKLD0012: https://library.brown.edu/iip/view_xml/akld0012/
                </p>
                <p>
                    The IIP ID takes the form AAAA1111 or AAAA1111A (where A stands for an alphabetic character and 1 stands for a number). Please note that although the URL path may change, the IIP ID will not. API queries can return xml or json formats, depending on the value of the wt flag: wt=xml or wt=json.
                </p>
                <br>
                <h4>Some example queries:</h4>
                <ul>
                    <li>
                        Find the first 100 IIP inscriptions:
                        http://library.brown.edu/search/solr_pub/iip/?start=0&rows=100&indent=on&wt=json&q=*
                    </li>
                    <li>
                        Find the first 100 inscriptions that are from the region “Coastal Plain”: http://library.brown.edu/search/solr_pub/iip/?start=0&rows=100&indent=on&wt=json&q=region%3A%22Coastal+Plain%22
                        Note that in this query, the search string "Coastal Plain" is enclosed in double quotes "" but that the URL must be encoded as %22
                    </li>
                    <li>
                        Return all the genre attributes:
                        http://library.brown.edu/search/solr_pub/iip/?q=*%3A*&start=0&rows=0&indent=on&facet=on&facet.field=type&wt=json
                    </li>
                </ul>
                <br>
                <h4>Useful facets (keywords):</h4>
                <p>
                    A guide to the keywords appearing in the metadata fields (e.g. “physical type” or “inscription type”) appears on our Glossary page.
                </p>
                <p>
                    NOTE: We are in the process of improving our Solr index, so the API results may change. Most metadata fields will remain the same, but the results will be more concise and easier to use. Also, please note that bibliographic references draw their information from a Zotero database which can be found here.
                </p>
            </div>
        </div>
    </section>
</div>

{% endblock %}
