{% extends 'about/base.html' %}

{% block extra_css %}
	{% load staticfiles %}
	<link href='{% static 'about/css/about.css' %}' rel="stylesheet">

{% endblock %}

{% block body %}

<div id="page-content-wrapper">
    <section class="about-text ptb-100">
        <div class="container">
            <div class="row">
                <h2>Funding</h2>
                <br>
                <p>
                    Over the years we have received generous funding from Brown University, especially through the Office of the Vice President of Research and the Program in Judaic Studies. We also receive technical and other infrastructure support from the Center for Digital Scholarship, a division of the Brown University Library. In the summer of 2017 the Dean of the College funded an Interdisciplinary Team Undergraduate Teaching and Research Award which supported four undergraduate students’ full-time work on the project.
                </p>
                <p>
                    We currently receive generous funding from the Goldhirsh-Yellin Foundation. We are tremendously grateful for their support.
                </p>
                <p>
                    There is much that we would still like to do, including: the incorporation of more images; advanced tagging of data content; programming to allow for more analysis and visualization; the development of a portal displaying material culture from the Israel/Palestine region in antiquity; and the mounting of an international conference on the digital use of these inscriptions. For these tasks, though, we require additional funding.
                </p>
                <p>
                    If you are interested in contributing to or partnering with IIP, please contact Professor Michael Satlow.
                </p>
            </div>
        </div>
    </section>
</div>

{% endblock %}
