{% extends 'about/base.html' %}

{% block extra_css %}
	{% load staticfiles %}
	<link href='{% static 'about/css/about.css' %}' rel="stylesheet">
    <style type="text/css">
        h4{
            text-align: center;
        }

        #non-student{
            display: block;
            margin: 0 auto;
            height: 200px;
        }

        #student{
            display: block;
            margin: 0 auto;
            height: 150px;
        }
    </style>
{% endblock %}

{% block body %}

<div id="page-content-wrapper" style="font-size: 15px;">
    <section class="about-text ptb-100">
        <div class="container">
            <h2>Team</h2>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Project Director</h4>
                    <img id="non-student" src='{% static "iip_search_app/images/SatlowHeadshot.jpg" %}'>

                    <ul> 
                        <br>
                        <li>Michael L. Satlow, Professor of Religious Studies and Judaic Studies, Brown University.  <a href="https://vivo.brown.edu/display/msatlow">[more info]</a></li>
                    </ul>    
                </div>
                <div class="col-sm-4">
                    <h4>Technical Director</h4>  
                    <img id="non-student" src='{% static "iip_search_app/images/EliHeadshot.jpg" %}'>
                    <ul style="padding-left: 50px;">
                        <br>
                        <li>Elli Mylonas, Senior Digital Humanities Librarian, Brown University Library. IIP Technical Director. <a href="https://library.brown.edu/cds/elli-mylonas/">[more info]</a></li>
                    </ul>                   
                </div>

                <div class="col-sm-4">
                    <h4>Project Manager</h4>  
                    <img id="non-student" src='{% static "iip_search_app/images/placeholder.png" %}'>
                    <ul style="padding-left: 50px;">
                        <br>
                        <li>Gaia Lembi, Visiting Assistant Professor (research), Program in Judaic Studies, Brown University. <a href="http://brown.academia.edu/GaiaLembi">[more info]</a></li>
                    </ul>       
                </div>
            </div>
            <br><br>
            <div class="row">
                <h4>
                    Encoders
                </h4>
                <br>
                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/placeholder.png" %}'>
                    <ul>
                        <br>
                        <li>Lena Milton: 2015 -</li>
                    </ul> 
                </div>
                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/placeholder.png" %}'>
                    <ul>
                        <br>
                        <li>Joanna Kramer: 2015-2016</li>
                    </ul> 
                </div>
                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/placeholder.png" %}'>
                    <ul>
                        <br>
                        <li>Marcelo Rivera-Figueroa: 2015-2016</li>
                    </ul> 
                </div>
                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/placeholder.png" %}'>
                    <ul>
                        <br>
                        <li>William Lu: 2015 - Fall 2017</li>
                    </ul> 
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/placeholder.png" %}'>
                    <ul>
                        <br>
                        <li>Daniel Picus: 2015-2016</li>
                    </ul> 
                </div>
                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/placeholder.png" %}'>
                    <ul>
                        <br>
                        <li>Maria Averkiou: 2016-2017</li>
                    </ul> 
                </div>
                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/placeholder.png" %}'>
                    <ul>
                        <br>
                        <li>Chiara Repetti-Ludlow: 2016-2017</li>
                    </ul> 
                </div>
                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/placeholder.png" %}'>
                    <ul>
                        <br>
                        <li>Sabrina Whitfill: 2016 -</li>
                    </ul> 
                </div>
            </div>
            <br><br>
            <div class="row">
                <h4>
                    Interdisciplinary UTRA Team Members (Summer & Fall, 2017)
	            </h4>
                <br>
                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/Montiethheadshot.jpg" %}'>
                    <ul>
                        <br>
                        <li>Lauren Montieth, Brown University '18</li>
                    </ul>    
                </div>

                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/placeholder.png" %}'>
                    <ul>
                        <br>
                        <li>Margaret Follett, Brown University '19</li>
                    </ul>                   
                </div>

                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/SamHeadshot.png" %}'>
                    <ul>
                        <br>
                        <li>Dae Hyun (Sam) Kim, Brown University '17.5</li>
                    </ul>       
                </div>

                <div class="col-sm-3">
                    <img id="student" src='{% static "iip_search_app/images/WennieHeadshot.jpg" %}'>
                    <ul>
                        <br>
                        <li>Wennie Zhang, Brown University '19</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
