{% extends 'about/base.html' %}

{% block extra_css %}
	{% load staticfiles %}
	<link href='{% static 'about/css/about.css' %}' rel="stylesheet">
{% endblock %}

{% block body %}

<div id="page-content-wrapper">
    <section class="about-text ptb-100">
        <div class="container">
            <div class="row">
                <h2>Why Inscriptions?</h2>
                <br>
                <img id="why_inscription_img" src='{% static 'about/img/about1.jpg' %}'>
                <br>
                
                <p>As of March 2016, there are approximately 3,500 inscriptions in the database, with more added regularly. All are enconded using Epidoc guidelines. The inscriptions can be accessd via the "Search" button on the left.</p>
                <p>Inscriptions of Israel/Palestine is an ongoing project at Brown University. It has been generously supported by the Center of Digital Scholarship and the Goldhirish-Yellin Foundation. We welcome you feedback.</p>
            </div>
        </div>
    </section>
</div>

{% endblock %}
