{% extends 'about/base.html' %}

{% block extra_css %}
	{% load staticfiles %}
	<link href='{% static 'about/css/about.css' %}' rel="stylesheet">
{% endblock %}

{% block body %}

<div id="page-content-wrapper" style="font-size: 15px;">
    <section class="about-text ptb-100">
        <div class="container">
            <div class="row">
                <h2>Why Inscriptions?</h2>
                <br>
                <img id="why_inscription_img" src='{% static 'about/img/about1.jpg' %}'>
                <br>
                
                <p>The Inscriptions of Israel/Palestine project seeks to collect and make freely accessible all of the previously published inscriptions (and their English translations) of Israel/Palestine from the Persian period through the Islamic conquest (ca. 500 BCE - 640 CE).   Epigraphy is the study of such inscriptions, defined as texts written on durable materials (except for coins, which falls under the academic category of numismatics).  There are about 10,000 of these inscriptions, written primarily in Hebrew, Aramaic, Greek and Latin, by Jews, Christians, Greeks, and Romans. They range from imperial declarations on monumental architecture to notices of donations in synagogues to humble names scratched on ossuaries, and include everything in between.</p>
                <p>These inscriptions are an invaluable resource for historical investigation, for they provide information that is frequently not available in the extant literary texts. Recently, for example, scholars have used these inscriptions to:</p>
                <ul style="padding-left: 50px;">
                    <li>Reconstruct the ancient Roman road system throughout Israel/Palestine, thus revising our understanding of trade routes and the economy;</li>
                    <li>Investigate the involvement of the Roman government in municipal building projects;</li>
                    <li>Revise our understanding of the Bar-Kokhba Revolt, suggesting that the revolt was far more serious than we previously thought;</li>
                    <li>Recover the role (and perhaps even voices) of women in Jewish and Christian communities - voices that otherwise are silent in the literary record.</li>
                </ul>
                <br>
                <p>They can also be used for linguistic analyses; we are working to develop tools to facilitate such use.</p>
                <p>As of August, 2017 there are approximately 3,000 inscriptions in the database, with more added regularly. All are encoded using the <a href="https://sourceforge.net/p/epidoc/wiki/Home/">Epidoc</a> guidelines.</p>
            </div>
        </div>
    </section>
</div>

{% endblock %}
